@model PasswordTool.Web.Models.Password
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<dl>
    <dt>Password</dt>
    <dd>@Model.OriginalPassword</dd>
    <dt>Password (broken in to it's words)</dt>
    <dd>@string.Join("|", Model.PasswordParts)</dd>

    <dt>Salt</dt>
    <dd>@Model.HashSaltAsString (@Model.HashSalt.Length bytes)</dd>
    <dt>SHA512 Hash</dt>
    <dd>@Model.HashAsString (@Model.HashAsString.Length string hash length) (@Model.Hash.Length binary hash bytes)</dd>
    <dd>@string.Join(string.Empty, Model.Hash.Select(b=>b.ToString("x2")).ToArray()) (HEX)</dd>
</dl>

<p>
    Strings are converted to UTF8 byte arrays. String representations of binary data are in Base64.
</p>

<p>
    Source: <a target="_blank" href="http://github.com/worldspawn/PasswordTool">http://github.com/worldspawn/PasswordTool</a>
</p>

<p>
    <a target="_blank" href="http://www.wordnik.com/">Wordnik</a>
</p>